<h1>Coupon Form</h1>

<%= form_for @coupon do |f| %>
    <%= f.label :coupon_code %>
    <%= f.text_field :coupon_code %>
    <br>
    <%= f.label :store %>
    <%= f.text_field :store %>
    <br>
    <%= f.submit "Submit Coupon" %>
<% end %>