<h3>Coupon Form</h3>

<%= form_tag coupons_path do %>
  <label>Coupon Code:</label><br>
  <%= text_field_tag :"coupon[coupon_code]" %><br>

  <label>Coupon for Store:</label><br>
  <%= text_field_tag :"coupon[store]" %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Coupon" %>
<% end %>
