<h1> <%= @coupon.coupon_code %> </h1>
<br>

<h1> <%= @coupon.store %> </h1>

<p> <%= "/coupons/4" %>

<p> click for another coupon, <%= link_to "here",  "/coupons" %> </p>


<p> to create a new coupon, <%= link_to "here", "/coupons/new" %>